header {
	//TODO
	li {
		font-weight: 700;
	}

	& > nav {
		#themeSwitch {
			.heroicon {
				height: 1em;
			}
		}

		details {
			.heroicon {
				position: relative;
				top: -1px;
				height: 1em;
			}
		}

		column-gap: 0.8em;

		& > ul:first-child {
			margin: calc(var(--header-padding) * -1) 0 0 0 !important;
			li:first-child {
				padding: 0;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				.logo {
					padding: 0.3em 0;
					height: 4.5em;
					width: auto;
					border-radius: 5px;
				}
			}

			li:nth-child(2) {
				color: var(--dark-blue);
				font-size: 130%;
			}
		}

		& > ul:not(:first-child) {
			margin: 0 !important;
			padding: 0 0 var(--header-padding) 0 !important;
			column-gap: 0.8em;

			& > li {
				padding: 0;
			}
		}
	}
}
