@use "base";

p {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);

	&:visited {
		color: var(text-color-link-visited);
	}

	&:hover,
	&:active {
		color: var(--text-color-link-active);
	}
}

main {
	padding: 1rem;

	&:first-child {
		margin-top: 0;
	}
}

/* Header */
header {
	display: flex;
	gap: 0 0.5em;
	flex-wrap: nowrap;
	align-items: center;
	padding: 1em;
	border-bottom: 1px dashed var(--color-gray-20);

	picture {
		margin-right: auto;
		.logo {
			height: 2em;
			width: auto;
		}
	}
}

/* Nav */
nav {
	.nav {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;

		a[href][aria-current="page"] {
			text-decoration: underline;
		}
	}

	.nav__item {
		display: inline-block;
		margin-right: 1em;

		a[href]:not(:hover) {
			text-decoration: none;
		}
	}
}

/* Itineraries list */
.itineraries-list {
	list-style: none;
	padding: 0;
}

.itineraries-list__item {
	margin-bottom: 1em;
}

.itineraries-list__date {
	font-size: 0.85em;
	color: var(--color-gray-90);
}

.itineraries-list__link {
	display: block;
	width: 100%;
	font-size: 1.2em;
	font-weight: 700;
}

.itineraries-list__item--active .itineraries-list__link {
	font-weight: bold;
}

.itinerary__metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}

.itinerary__nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0 0 0;
}
