@use "error404";
@use "itineraryList";
@use "nav";

$enable-responsive-spacings: false;
@import "../pico/pico.scss";

// https://www.a11yproject.com/posts/how-to-hide-content/
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

html {
	max-width: 45rem;
	margin: 0 auto;
	padding: 0.5rem 1rem 1.5rem 1rem;
}

header {
	padding: 0 !important;
}

main {
	padding: 0.5rem 0 !important;
}

header {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}

a[aria-current]:not([aria-current="false"]) {
	text-decoration: underline;
}
