@use "base";

p {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);

	&:visited {
		color: var(text-color-link-visited);
	}

	&:hover,
	&:active {
		color: var(--text-color-link-active);
	}
}

main {
	padding: 1rem;

	&:first-child {
		margin-top: 0;
	}
}

/* Header */
header {
	display: flex;
	gap: 0 0.5em;
	flex-wrap: nowrap;
	align-items: center;
	padding: 1em;
	border-bottom: 1px dashed var(--color-gray-20);

	picture {
		margin-right: auto;
		.logo {
			height: 2em;
			width: auto;
		}
	}
}

/* Nav */
nav {
	.nav {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;

		a[href][aria-current="page"] {
			text-decoration: underline;
		}
	}

	.nav__item {
		display: inline-block;
		margin-right: 1em;

		a[href]:not(:hover) {
			text-decoration: none;
		}
	}
}

/* Itineraries list */
.itineraries-list {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}

.itineraries-list__item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;

	&:before {
		display: inline-block;
		pointer-events: none;
		content: "" counter(start-from, decimal-leading-zero) ". ";
		line-height: 100%;
		text-align: right;
		margin-left: -1.5rem;
	}
}

.itineraries-list__date,
.itineraries-list__item:before {
	font-size: 0.8125em;
	// 13px /16
	color: var(--color-gray-90);
}

.itineraries-list__date {
	word-spacing: -0.5px;
}

.itineraries-list__link {
	font-size: 1.1875em;
	// 19px /16
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: 0.25em;
	padding-right: 0.5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}

.itineraries-list__item--active .itineraries-list__link {
	font-weight: bold;
}

.itinerary__metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;

	time {
		margin-right: 1em;
	}
}

.itinerary__nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

// .home-link {
// 	font-size: 1em;
// 	font-weight: 700;
// 	margin-right: 2em;

// 	&:link:not(:hover) {
// 		text-decoration: none;
// 	}
// }
