@use "_latofonts.css";

//TODO
$primary-hue: 129;
$grey-hue: 129;

$grey-50: #183a1d;
$grey-100: #183a1d;
$grey-200: #183a1d;
$grey-300: #183a1d;
$grey-400: #183a1d;
$grey-500: #183a1d;
$grey-600: #183a1d;
$grey-700: #183a1d;
$grey-800: #183a1d;
$grey-900: #183a1d;

$primary-50: #3d6ddb;
$primary-100: #3d6ddb;
$primary-200: #3d6ddb;
$primary-300: #3d6ddb;
$primary-400: #3d6ddb;
$primary-500: #3d6ddb;
$primary-600: #3d6ddb;
$primary-700: #3d6ddb;
$primary-800: #3d6ddb;
$primary-900: #3d6ddb;

$enable-responsive-spacings: false;
$white: #fefbe9;
@import "../pico/pico.scss";

@import "error404";
@import "itineraryList";
@import "nav";
@import "socialMedia";
@import "itinerary";

$font-stack: LatoWeb, -apple-system, system-ui, sans-serif;

:root {
	--dark-green: #183a1d;
	--dark-blue: #3d6ddb;
	background-color: var(--background-color);
}

// https://www.a11yproject.com/posts/how-to-hide-content/
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

html {
	--header-padding: 0.8rem;
	font-family: $font-stack !important;
	max-width: 45rem;
	margin: var(--header-padding) auto 1.5rem auto;
	padding: 0 1rem 0 1rem;
}

header {
	padding: 0 0 0 0 !important;
	margin: 0 0 var(--header-padding) 0 !important;
}

main {
	margin: 2rem 0 0.5rem 0 !important;
	padding: 0 0 0 0 !important;
}

header {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}

a[aria-current]:not([aria-current="false"]) {
	text-decoration: underline;
}

h1 {
	margin-bottom: 1.5rem;
}

.container {
	margin-left: auto !important;
	margin-right: auto !important;
}

// lightbox reset inherited from a
#lightbox {
	a {
		padding: 0;
		border: 0;
		border: initial;
		border-radius: initial;
		box-shadow: initial;
		color: initial;
		font-weight: initial;
		font-size: initial;
		line-height: initial;
		text-align: initial;
		text-decoration: none;
		pointer-events: auto;
		opacity: 0.7;
		cursor: pointer;
	}
}
