---
layout: layouts/home.njk
eleventyNavigation:
  key: Todos los itinerarios
  order: 2
---
<h1>Todos los itinerarios</h1>

{% set itinerariesList = collections.itineraries %}
{% include "itinerarieslist.njk" %}
