<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<title>{{ title or metadata.title }}</title>
<meta name="description" content="{{ description or metadata.description }}">

{#- Atom and JSON feeds #}
<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

<link rel="alternate" hreflang="{{ page.lang }}" href="{{ meta.url }}{{ page.url }}"/>

{% for link in page.url | locale_links %}
	<link
				rel="alternate"
				hreflang="{{ link.lang }}"
				href="{{ meta.url }}{{ link.url }}"/>
{% endfor %}

<link rel="canonical" href="{{ meta.url }}{{ page.url }}"/>

<link rel="stylesheet" href="/css/styles.css">

{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

{#
{%- css %}{% include "public/css/styles.css" %}{% endcss %}
<style>
{% getBundle "css" %}
</style>
#}