@use "normalize";
@use "latofonts";

//Global variables

$font-stack: LatoWeb, -apple-system, system-ui, sans-serif;

//Theme colors

:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050f;

	--background-color: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #c0c0c0;
		--color-gray-90: #dad8d8;

		// --text-color is assigned to --color-gray-_ above
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}

//Global stylesheets

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	overflow-y: scroll;
	font-family: $font-stack;
	color: var(--text-color);
	background-color: var(--background-color);
	margin: 0 auto;
	padding: 1rem;
	max-width: 45rem;
}

body {
	margin: 0;
	padding: 0;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
