---js
{
	layout: "layouts/itineraryList.njk",
	eleventyNavigation: {
		key: "Itineraries",
		order: 2,
	},
	pagination: {
		data: "collections.sortedItineraries",
		size: 4,
		before: function(paginationData, fullData) {
			/*
			#################################################
			#### IMPORTANT CHANGE LANGUAGE IN LINE BELOW ####
			#################################################
			*/
			const language = 'en'; // Change for the correct one es, en, fr, ja
			return paginationData.filter(item => item.data.page.lang == language);
		}
	}
}
---