<!doctype html>
<html lang="{{ page.lang }}" dir="{{ lang[page.lang].dir or 'ltr' }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		<link rel="alternate" hreflang="{{ page.lang }}" href="{{ meta.url }}{{ page.url }}"/>

		{% for link in page.url | locale_links %}
			<link
				rel="alternate"
				hreflang="{{ link.lang }}"
				href="{{ meta.url }}{{ link.url }}"/>
		{% endfor %}

		<link rel="canonical" href="{{ meta.url }}{{ page.url }}"/>

		<link rel="stylesheet" href="/css/styles.css">

		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#
		{%- css %}{% include "public/css/styles.css" %}{% endcss %}
		<style>
			{% getBundle "css" %}
		</style>
		#}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">{{ lang[page.lang].mainContentSkip }}</a>

		<header class="container">
			{# <a href="/">{{ metadata.title }}</a> #}
			<nav>
				<ul>
					<li>
						{% image "public/img/logo.png",
						lang[page.lang].altLogo,
						"logo" %}
					</li>
				</ul>
				<h2 class="visually-hidden">{{ lang[page.lang].navigationMenu }}</h2>
				<ul role="navigation">
					{%- for entry in collections.all | langFilter(page.lang) | eleventyNavigation %}
						<li>
							<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
						</li>
					{%- endfor %}
					<li>
						<details role="list">
							<summary aria-haspopup="listbox">
								<span class="visually-hidden">{{ lang[page.lang].languageSelect }}</span>
								<span>
									{% heroicon "outline",
									"translate" %}
									{{ lang[page.lang].languageName }}
								</span>
							</summary>
							<ul role="listbox">
								{% for link in page.url | locale_links | sort(reverse = false, caseSens = false, lang) %}
									<li>
										<a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
											{{ lang[link.lang].languageName }}
										</a>
									</li>
								{% endfor %}
							</ul>
						</details>
					</li>
				</ul>
			</nav>
		</header>

		<main id="skip" class="container">
			{{ content | safe }}
		</main>

		{#
		<footer class="container">
			<nav>
				<a href="{{ page.url }}" lang="{{ page.lang }}" hreflang="{{ page.lang }}">
					{{ page.lang | upper }}
				</a>
				<ul>
					<li>
						{{ lang[page.lang].languageAvailable }}
					</li>
					{% for link in page.url | locale_links | sort(reverse = false, caseSens = false, lang) %}
						<li>
							<a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
								{{ link.lang | upper }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</footer>
		#}

		<script>
			if (window.netlifyIdentity) {
				window
					.netlifyIdentity
					.on("init", user => {
						if (!user) {
							window
								.netlifyIdentity
								.on("login", () => {
									document.location.href = "/admin/";
								});
						}
					});
			}
		</script>
	</body>
</html>