<!doctype html>
<html lang="{{ page.lang }}" dir="{{ lang[page.lang].dir or 'ltr' }}" data-theme="light">
	<head>
		{% include "head.njk" %}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">{{ lang[page.lang].mainContentSkip }}</a>

		<header class="container">
			{# <a href="/">{{ metadata.title }}</a> #}
			<nav>
				<ul>
					<li>
						{% image "public/img/logoTransparente.png",
						lang[page.lang].altLogo,
						"logo" %}
					</li>
					<li>
					Turismo sin fronteras
					</li>
				</ul>
				<h2 class="visually-hidden">{{ lang[page.lang].navigationMenu }}</h2>
				<ul role="navigation">
					{%- for entry in collections.all | langFilter(page.lang) | eleventyNavigation %}
						<li>
							<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
						</li>
					{%- endfor %}
					<li>
						<details role="list">
							<summary aria-haspopup="listbox">
								<span class="visually-hidden">{{ lang[page.lang].languageSelect }}</span>
								<span>
									{% heroicon "outline",
									"translate" %}
									{{ lang[page.lang].languageName }}
								</span>
							</summary>
							<ul role="listbox">
								{% for link in page.url | locale_links | sort(reverse = false, caseSens = false, lang) %}
									<li>
										<a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
											{{ lang[link.lang].languageName }}
										</a>
									</li>
								{% endfor %}
							</ul>
						</details>
					</li>
					<li>
						<a href="#" role="button" id="themeSwitch">{% heroicon "outline",
							"sun" %}</a>
					</li>
				</ul>
			</nav>
		</header>

		<main id="skip" class="container">
			{{ content | safe }}
		</main>

		{#
		<footer class="container">
			<nav>
				<a href="{{ page.url }}" lang="{{ page.lang }}" hreflang="{{ page.lang }}">
					{{ page.lang | upper }}
				</a>
				<ul>
					<li>
						{{ lang[page.lang].languageAvailable }}
					</li>
					{% for link in page.url | locale_links | sort(reverse = false, caseSens = false, lang) %}
						<li>
							<a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
								{{ link.lang | upper }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</footer>
		#}

		<script defer>
			document
				.getElementById('themeSwitch')
				.addEventListener('click', () => {
					const htmlElement = document.querySelector('html');
					const newTheme = htmlElement.getAttribute('data-theme') == 'dark'
						? 'light'
						: 'dark';
					htmlElement.setAttribute('data-theme', newTheme);
				})
		</script>

		<script>
			if (window.netlifyIdentity) {
				window
					.netlifyIdentity
					.on("init", user => {
						if (!user) {
							window
								.netlifyIdentity
								.on("login", () => {
									document.location.href = "/admin/";
								});
						}
					});
			}
		</script>

		<script src="/scripts/lightbox/dist/js/lightbox-plus-jquery.min.js"></script>
		<script defer>
			lightbox.option({"alwaysShowNavOnTouchDevices": true, "wrapAround": true, "showImageNumberLabel": false, "disableScrolling": true})
		</script>
	</body>
</html>