---
layout: layouts/base.njk
---

<ul class="itinerary-data">
	<h1 class="itinerary-title">{{ title }}</h1>
	<li>
		<time datetime="{{ itineraryDate | htmlDateString(true) }}">{{ itineraryDate | readableDate('DDD T', page.lang, 'utc') }}</time>
	</li>
</ul>

<hr/>

{{ content | safe }}

{%- if collections.itineraries %}
	{%- set previousItinerary = collections.itineraries | getPreviousCollectionItem %}
	{%- set nextItinerary = collections.itineraries | getNextCollectionItem %}
	{#
		{%- if nextItinerary or previousItinerary %}
			<ul>
				{%- if previousItinerary %}
					<li>{{ lang[page.lang].previousItinerary }}
						<a href="{{ previousItinerary.url }}">{{ previousItinerary.data.title }}</a>
					</li>
				{% endif %}
				{%- if nextItinerary %}
					<li>{{ lang[page.lang].nextItinerary }}
						<a href="{{ nextItinerary.url }}">{{ nextItinerary.data.title }}</a>
					</li>
				{% endif %}
			</ul>
		{%- endif %}
		#}
{%- endif %}