---
layout: layouts/base.njk
---
{#
<h1>{{ lang[page.lang].navItineraries }}</h1>
#}

{%- for itinerary in pagination.items %}
	<a href="{{ itinerary.url }}" class="itinerary-card">
		<article>
			<div class="itinerary-card__content">
				<span class="itinerary-card__content__name">
					{% if itinerary.data.title %}
						{{ itinerary.data.title }}
					{% else %}
						{{ itinerary.data.itineraryDate | readableDate('DDD T', page.lang, 'utc') }}
						{# <code>{{ itinerary.url }}</code> #}
					{% endif %}
				</span>
				{#- <time datetime="{{ itinerary.date | htmlDateString }}">{{ itinerary.date | readableDate }}</time> #}
				<time datetime="{{ itinerary.data.itineraryDate | htmlDateString(true) }}" class="itinerary-card__content__date">{{ itinerary.data.itineraryDate | readableDate('DDD T', page.lang, 'utc') }}</time>
				<p class="itinerary-card__content__description">{{ itinerary.data.description }}</p>
			</div>
			<div class=itinerary-card__image>
				{% if itinerary.data.thumbnail %}
					{% image itinerary.data.thumbnail,
					lang[page.lang].altItineraryCardThumbnail %}
				{% else %}
					{% image "public/img/logoMargenes.png",
					lang[page.lang].altItineraryCardThumbnail %}
				{% endif %}
			</div>
		</article>
	</a>
{% endfor -%}
<nav aria-labelledby="itineraries-pagination-label" class="pagination">
	<span id="itineraries-pagination-label" class="pagination__text">
		{{ lang[page.lang].paginationPage }}
	</span>
	<ol>
		{%- for pageEntry in pagination.pages %}
			<li>
				<a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>{{ loop.index }}</a>
			</li>
		{%- endfor %}
	</ol>
</nav>
</ol>