---
layout: layouts/base.njk
---

<article class="itinerary">
	<h1>{{ title }}</h1>

	<ul class="itinerary__metadata">
		<li>
			<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
		</li>
	</ul>

	{{ content | safe }}

	{%- if collections.itineraries %}
		{%- set previousItinerary = collections.itineraries | getPreviousCollectionItem %}
		{%- set nextItinerary = collections.itineraries | getNextCollectionItem %}
		{#
		{%- if nextItinerary or previousItinerary %}
			<ul class="itinerary__nextprev">
				{%- if previousItinerary %}
					<li>{{ lang[page.lang].previousItinerary }}
						<a href="{{ previousItinerary.url }}">{{ previousItinerary.data.title }}</a>
					</li>
				{% endif %}
				{%- if nextItinerary %}
					<li>{{ lang[page.lang].nextItinerary }}
						<a href="{{ nextItinerary.url }}">{{ nextItinerary.data.title }}</a>
					</li>
				{% endif %}
			</ul>
		{%- endif %}
		#}
	{%- endif %}
</article>