---
layout: layouts/base.njk
---
{#
<h1>{{ lang[page.lang].navItineraries }}</h1>
#}

<ul class="itinerary-list">
	{%- for itinerary in pagination.items %}
		<li>
			<a href="{{ itinerary.url }}">
				{% if itinerary.data.title %}
					{{ itinerary.data.title }}
				{% else %}
					{{ itinerary.data.itineraryDate | readableDate('DDD T', page.lang, 'utc') }}
					{# <code>{{ itinerary.url }}</code> #}
				{% endif %}
			</a>
			{#- <time datetime="{{ itinerary.date | htmlDateString }}">{{ itinerary.date | readableDate }}</time> #}
			<time datetime="{{ itinerary.datitinerary-a.itineraryDate | htmlDateString }}">{{ itinerary.data.itineraryDate | readableDate('DDD T', page.lang, 'utc') }}</time>
			<p>{{ itinerary.data.description }}</p>
		</li>
	{% endfor -%}
</ul>
<nav aria-labelledby="itineraries-pagination-label">
	<h2 id="itineraries-pagination-label">Pagination</h2>
	<ol>
		{%- for pageEntry in pagination.pages %}
			<li>
				<a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>Page {{ loop.index }}</a>
			</li>
		{%- endfor %}
	</ol>
</nav>
</ol>